<h4 class="my-2 mb-4">Messages</h4>
<div class="row">
    <div class="col-md-4" >
     <img width="50px" height="50px" class="rounded-circle ms-5" src="/assets/ap22312071681283-0d9c328f69a7c7f15320e8750d6ea447532dff66.jpg">

            
    </div>
    <div class="col-md-8 ">
        <p class="fw-bold mb-0 ">Yasin Mustafa</p>
        <p class="fw-light mt-0">Hi Anglina How Are You?</p>

    </div>

    <div class="col-md-4" >
        <img width="50px" height="50px" class="rounded-circle ms-5" src="/assets/1.jpg">
   
               
       </div>
       <div class="col-md-8 ">
           <p class="fw-bold mb-0 ">Mohamed Mustafa</p>
           <p class="fw-light mt-0">Do We Need That Design?</p>
   
       </div>

       <div class="col-md-4" >
        <img width="50px" height="50px" class="rounded-circle ms-5" src="/assets/2.png">
   
               
       </div>
       <div class="col-md-8 ">
           <p class="fw-bold mb-0 ">Omar Mustafa</p>
           <p class="fw-light mt-0">What The Price Of Hourly..?</p>
   
       </div>

       <div class="col-md-4" >
        <img width="50px" height="50px" class="rounded-circle ms-5" src="/assets/ap22312071681283-0d9c328f69a7c7f15320e8750d6ea447532dff66.jpg">
   
               
       </div>
       <div class="col-md-8 ">
           <p class="fw-bold mb-0 ">Ahmed Mustafa</p>
           <p class="fw-light mt-0">Awsome Design!!</p>
   
       </div>

</div>