<div class="container mt-3">
  <h4>New Task</h4>
  <p class="fw-light">Task title</p>
  <div
    class="p-1"
    style="background-color: rgb(214, 232, 232); border-radius: 10px"
  >
    create new
  </div>

  <p class="mt-2">< 🎉 😍 😁 🔥 😘 😉 😎 👩 🙄 ></p>
  <hr />

  <div>
    <p>Add Collebrators</p>
    <div>
      <div style="background-color: rgb(207, 210, 209); border-radius: 10px;display: inline;" class="w-25 p-1">
        <img
          width="20px"
          height="20px"
          class="rounded-circle"
          src="/assets/1.jpg"
        /><p style="color: blueviolet;display: inline;">yassin x</p>
      </div>

      <div 
      style="background-color: rgb(207, 210, 209); border-radius: 10px;display: inline;" class="w-25 p-1 mx-2">
        <img
          width="20px"
          height="20px"
          class="rounded-circle"
          src="/assets/2.png"
        /><p style="color: rgb(43, 226, 202);display: inline;">Noah x</p>
      </div>

      <div style="background-color: rgb(207, 210, 209); border-radius:50%;display: inline;" class="w-25 p-2">
       <p style="display: inline;">+</p>
      </div>

      <div style=" background-color: rgb(39, 92, 171); border-radius:50%;display: inline;" class="w-25 p-2 mx-2">
        <p style="display: inline;color: white;">></p>
       </div>
    </div>
  </div>
</div>
